[submodule "ext/ZeroTierOne"]
	path = ext/ZeroTierOne
	url = https://github.com/diasurgical/ZeroTierOne.git
[submodule "ext/lwip"]
	path = ext/lwip
	url = https://github.com/diasurgical/lwip.git
[submodule "ext/lwip-contrib"]
	path = ext/lwip-contrib
	url = https://github.com/diasurgical/lwip-contrib.git
